@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@theme {
  --font-inter: "Inter", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;

  --color-gray-primary: '#111827';
  /* (Títulos y texto fuerte) */
  --color-gray-secondary: '#4B5563';
  /* (Subtítulos y cuerpo de texto) */
  --color-gray-third: #E5E7EB;
  /* (Bordes y separadores) */
}

/* Títulos, subtítulos y botones personalizados */
@utility title-primary {
  @apply text-4xl text-gray-primary font-bold;
}

@utility project-card {
  @apply relative h-[350px] rounded-2xl overflow-hidden shadow-sm hover:shadow-xl transition-all duration-500 p-6 flex flex-col justify-end;
}

@utility button-skill {
  @apply rounded-2xl shadow-md hover:shadow-xl transition-all duration-500 p-6 flex items-center justify-center;
}

@utility project-img {
  @apply absolute inset-0 object-cover w-full h-full z-0 transition-transform duration-700 group-hover:scale-110;
}

@utility button1-project {
  @apply rounded-2xl bg-black text-white py-2 px-4 font-medium border border-transparent transition-all duration-300 ease-in-out hover:bg-gray-primary hover:text-black hover:shadow-md active:scale-95;
}

@utility button2-project {
  @apply rounded-2xl bg-white text-black py-2 px-4 font-medium border border-transparent transition-all duration-300 ease-in-out hover:bg-gray-primary hover:text-black hover:shadow-md active:scale-95;
}

@utility button3-project {
  @apply rounded-2xl bg-transparent text-blue-700 py-3 px-5 font-medium
         border border-blue-400/60
         shadow-sm shadow-blue-300/30
         transition-all duration-300 ease-in-out
         hover:bg-blue-50 hover:border-blue-500 hover:shadow-blue-400/40 hover:shadow-md hover:-translate-y-1
         active:scale-95;
}

/* Gradientes personalizados */
@utility bg-linear-gradient-blue-purple {
  background-image: linear-gradient(90deg, rgba(43, 21, 150, 1) 0%, rgba(57, 57, 184, 1) 44%, rgba(120, 8, 158, 1) 100%);
}

@utility bg-radial-gradient-white-pink {
  background: radial-gradient(circle, rgba(238, 228, 240, 1) 20%, rgba(255, 255, 255, 1) 90%);
}

@utility bg-linear-gradient-white-blue {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 30%, rgba(193, 203, 227, 1) 100%);
}